/* Google Fonts */
@import 'https://fonts.googleapis.com/css?family=Cormorant+Infant:600,700|Ek+Mukta:400,700';

body {
	font-family: 'Ek Mukta', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

header {
	margin-bottom: 40px;
}
h1 {
	font-family: 'Cormorant Infant', serif;
	font-weight: 700;
	font-variant: small-caps;
	font-size: 2.5em;
	margin-top: 0px;
	margin-bottom: 0px;
}

a, a:visited {
	color: black;
	transition-property: box-shadow;
	transition-duration: 0.25s;
}

a:hover {
	color: black;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.4);
	transition-property: box-shadow;
	transition-duration: 0.25s;
}

p.majorLink {
	text-align: center;
}
