<div id="searchForm">

	<%= form_tag("/cameras/doMapSearch", id: 'searchForm', method: "get", remote: true) do |sf| %>
		<%= text_field_tag(:freetext) %>
	<% end %>

	<div id="json">
		JSON will go here.
	</div>
</div>
<div id="searchMap">
</div>