<div id="searchFormContainer">
	<%= form_tag("/cameras/doMapSearch", id: 'searchForm', method: "get", remote: true) do |sf| %>
		<%= text_field_tag(:freetext) %>
	<% end %>
</div>
<div id="searchMap">
</div>
<div id="infoPopup">
	<div id="infoTitle">sdfsd</div>
	<img id="infoImage" src="/assets/camera_icon.png"/>
</div>
