<% content_for(:title, 'About') %>

<section>
    <header>
        <h3>Background</h3>
    </header>

    <p>
        The human desire to record our world in visual form is older than civilisation itself: archaeologists have discovered carvings and cave paintings that are up to 35,000 years old. As technology improved, painting and sculpting progressed, finally giving way to today's most advanced photographic techniques. Today we can record items of all scales, from the billions of galaxies in our universe to individual atoms. In the 19th century we began collating sequences of images we created videos to record entire events from beginning to end. Today we record events covering time periods from a few milliseconds to several days, and even years for the most dedicated projects.
    </p>

    <p>
        Our world changes on all these scales, and much larger ones too. Is it possible to create a video of events lasting decades or more? That's the aim of the Long Webcam project — to produce timelapse videos of all aspects of our world over the largest possible durations. We aim to record the world as it changes around us: season pass; buildings and cities are constructed, then abandoned or destroyed; trees grow and die; glaciers advance and retreat; landscapes are eroded. By taking a visual record of these events, we will gain a greater sense of our place in time, and be able to contrast the pace of our lives with the pace of the environment in which we live. 
    </p>
</section>

<section>
    <header>
        <h3>How It Works</h3>
    </header>

    <p>
        The project installs cameras in locations where they can be maintained and operated over a suitably long time period (a decade at least), positioned to capture interesting views that change relatively slowly — over weeks, months, years or even decades. Each camera takes one picture per day, and sends it to the Long Webcam server where all the images are archived. Once a number of images have been stored we can begin producing time-lapse videos of those images. As the archive grows, longer videos can be produced at coarser resolutions — one frame per week, perhaps.
    </p>

    <p>
        A changing landscape is of limited historical interest without context. Notes and related items can be added to record the events that are seen in the changing images — news stories, building projects, weather and other natural phenomena. We will create a complete historical archive of each camera's view and the events it captures.
    </p>

    <p>
        Users of the archive can see the complete timeline of images from each camera, together with the notes and other materials that accompany them. They can find images based on camera positions or search for cameras that cover specific events. Time-lapse videos can be requested from any camera covering any time period.
    </p>
</section>

