<% provide(:title, 'Get Involved') %>

<section>
    <header>
        <h3>Get Involved!</h3>
    </header>

    <p>
        The Long Webcam project and its cameras are set up and maintained entirely by volunteers. We are always happy to receive help from anybody, either with the technical side of running the website and maintaining the archive, or by hosting a camera to record a location of interest.
    </p>
</section>

<section>
    <header>
        <h4>Host a Camera</h4>
    </header>
    
    <p>
        We are always looking for interesting locations for Long Webcam cameras. Anybody with a computer, camera and internet connection can host a camera; special software will collect the images and send them to the Long Webcam server automatically. For more remote locations without internet connections or mains power, we are designing standalone camera units to record images that can be periodically collected and uploaded.
    </p>

    <p>
    If you would like to host a camera for the project, please <%= link_to 'Contact us', 'contact' %>.
    </p>

    <header>
        <h4>Any Other Help!</h4>
    </header>

    <p>
    If this project has piqued your interest and you'd like to get involved in any other way, please <%= link_to 'drop us a line', 'contact' %>.
    </p>
</section>

