<section>
    <header>
        <h3>Introduction</h3>
    </header>

    <p>
        The LongWebcam project's mission is to create timelapse videos of our changing world. The landscapes and cityscapes in which we live change from day to day and season to season, but they also change from year to year and decade to decade — changes so slow that we often don't notice them happening. By combining photos taken every day over long periods from the same position, we can produce visual records of the slow changes in our surroundings.
    </p>
</section>

<section>
    <header>
        <h3>Current Progress</h3>
    </header>
    
    <p>
        The LongWebcam project is just getting started. We are in the process of developing the website and the software needed to run it, and looking for interesting places for cameras. There's a lot to be done, and we're always happy to receive assistance from anyone who can help in any way, no matter what size the contribution. If the project appeals to you and you want to help out, take a look at the Get Involved page.
    </p>
</section>

