@import 'https://fonts.googleapis.com/css?family=Cormorant+Infant:600,700|Ek+Mukta:400,700';

body {
	font-family: 'Ek Mukta', sans-serif;
	font-weight: 400;
	font-size: 15px;
	margin: 0px;

}

#pageHeader {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 40px;
	overflow: hidden;
	padding-top: 4px;
	padding-left: 4px;
	white-space: nowrap;
	overflow-x: hidden;
}

#accountControls {
	position: absolute;
	top: 0px;
	right: 4px;
	font-weight: 700;
	height: 40px;
	padding-left: 60px;
	background: -moz-linear-gradient(left, rgba(30,87,153,0) 0px, rgba(255,255,255,1) 40px, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0px,rgba(255,255,255,1) 40px,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(30,87,153,0) 0px,rgba(255,255,255,1) 40px,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
	
#searchBar {
	padding: 8px;
	margin-top: 40px;
}

.controls {
	color: white;
	background-color: #595959;
}