@import 'https://fonts.googleapis.com/css?family=Cormorant+Infant:600,700|Ek+Mukta:400,700';

body {
	font-family: 'Ek Mukta', sans-serif;
	font-weight: 400;
	font-size: 15px;
	margin: 0px;

}

#pageHeader {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 40px;
	overflow: hidden;
	padding-top: 4px;
	padding-left: 4px;
	white-space: nowrap;
	overflow-x: hidden;
}

#accountControls {
	position: absolute;
	top: 0px;
	right: 4px;
	font-weight: 700;
}

#searchBar {
	margin-top: 40px;
	color: white;
	background-color: #598859;
}

.controls {
	color: white;
	background-color: #598859;
}