html {
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;
}

#mapControls {
	position: absolute;
	top: 91px;
	min-height: 100%
	height: 100%;
	overflow-y: auto;
	background-color: #aaaaaa;
	z-index: 1000;
}

#map {
	position: absolute;
	top: 91px;
	left: 0;
	margin-bottom: 0px;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}