header {
	margin-bottom: 40px;
}

a, a:visited {
	color: black;
	transition-property: box-shadow;
	transition-duration: 0.25s;
}

a:hover {
	color: black;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.4);
	transition-property: box-shadow;
	transition-duration: 0.25s;
}

p.majorLink {
	text-align: center;
}

body {
	font-family: 'Ek Mukta', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	margin-top: 65px;
	overflow: hidden;
}

#projectDescription {
	display: none;
	top: 2000;
}

.quote {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: center;
}

.quote-body {
	font-weight: 600;
	font-style: italic;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.quote-byline {
	margin-top: 10px;
	text-align: right;
}

h1 {
	font-family: 'Cormorant Infant', serif;
	font-weight: 700;
	font-variant: small-caps;
	font-size: 2.5em;
	margin-top: 0px;
	margin-bottom: 0px;
}

article {
	font-family: 'Cormorant Infant', serif;
	font-weight: 600;
	font-size: 1.3rem;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	text-align: left;
}

article.summary {
	text-align: center;
}
