body {
	overflow: hidden;
	text-align: center;
	margin-top: 55px;
}

input:not([type=submit]):not([type=file]) {
	text-align: center;
	width: 150px;
}

input[type="submit"] {
	margin-top: 15px;
}

#projectDescription {
	display: none;
	top: 2000;
}

.quote {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: center;
}

.quote-body {
	font-weight: 600;
	font-style: italic;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.quote-byline {
	margin-top: 10px;
	text-align: right;
}
