/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ol
 */

@import 'https://fonts.googleapis.com/css?family=Rasa:400,700|Ek+Mukta:400,700';

/*
 * Font specifications
 */
body, input, button, select, option, textarea {
	font-family: 'Rasa', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

input, button, select, option, textarea {
    font-size: 100%;
}

/*
 * HTML Styles
 */
body {
	width: 100%;
	margin: 0px;
}

header {
	margin-bottom: 40px;
}

article {
	font-family: 'Cormorant Infant', serif;
	font-weight: 600;
	font-size: 1.3rem;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	text-align: left;
}

article.summary {
	text-align: center;
}

h1 {
	font-family: 'Cormorant Infant', serif;
	font-weight: 700;
	font-variant: small-caps;
	font-size: 2.5em;
	margin-top: 0px;
	margin-bottom: 0px;
}

a.textLink, a.textLink:visited {
	color: black;
	transition-property: box-shadow;
	transition-duration: 0.25s;
}

a.textLink:hover {
	color: black;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.4);
	transition-property: box-shadow;
	transition-duration: 0.25s;
}

input:not([type="submit"]):not([type="file"]) {
	border-radius: 6px;
	box-shadow: inset 0 0 2px #000;
}

input:not([type="submit"]):not([type="file"]):focus {
	outline: none;
	border: 2px solid #444;
}

input[type="submit"] {
	background: #f5f5f5;
	background-image: -webkit-linear-gradient(top, #f5f5f5, #cccccc);
	background-image: -moz-linear-gradient(top, #f5f5f5, #cccccc);
	background-image: -ms-linear-gradient(top, #f5f5f5, #cccccc);
	background-image: -o-linear-gradient(top, #f5f5f5, #cccccc);
	background-image: linear-gradient(to bottom, #f5f5f5, #cccccc);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	padding: 3px 5px 3px 5px;
	-webkit-box-shadow: 0px 0px 1px #666666;
	-moz-box-shadow: 0px 0px 1px #666666;
 	box-shadow: 0px 0px 1px #666666;
 	border: 0px;
 	border-radius: 6px;
	font-size: 0.8em;
	cursor: pointer;
}

input[type="submit"]:focus {
	outline: none;
	background: #dddddd;
	background-image: -webkit-linear-gradient(top, #dddddd, #aaaaaa);
	background-image: -moz-linear-gradient(top, #dddddd, #aaaaaa);
	background-image: -ms-linear-gradient(top, #dddddd, #aaaaaa);
	background-image: -o-linear-gradient(top, #dddddd, #aaaaaa);
	background-image: linear-gradient(to bottom, #dddddd, #aaaaaa);
}

input[type="submit"]:hover {
	outline: none;
	background: #dddddd;
	background-image: -webkit-linear-gradient(top, #dddddd, #aaaaaa);
	background-image: -moz-linear-gradient(top, #dddddd, #aaaaaa);
	background-image: -ms-linear-gradient(top, #dddddd, #aaaaaa);
	background-image: -o-linear-gradient(top, #dddddd, #aaaaaa);
	background-image: linear-gradient(to bottom, #dddddd, #aaaaaa);
}

input[type="submit"]:active {
	box-shadow: inset 1px 1px 1px 1px #444444;
}

/*
 * Named classes
 */
p.majorLink {
	text-align: center;
}

.form-message {
	font-family: 'Rasa', sans-serif;
}

.error {
	color: #F00;
}

#siteHeader {
	background-color: #595959;
	color: #eeeeee;
	height: 30px;
}