body {
	overflow: hidden;
}

#searchForm {
	position: absolute;
	top: 31px;
	left: 0px;
	z-index: 10;
	min-height: 100%;
	overflow: hidden;
	background-color: white;
	width: 300px;
}

.resultsPanel {
	position: absolute;
	top: 31px;
	left: 301px;
	margin-bottom: 0px;
	width: calc(100% - 300px);
	height: calc(100% - 30px);
}

.resultsMap {
	overflow: hidden;
}

.resultsList {
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
}

#infoPopup {
	position: absolute;
	width: 296px;
	height: 200px;
	top: 0px;
	left: 0px;
	z-index: 100;
	background-color: #eeeeee;
	border-radius: 10px;
	padding: 5px;
	display: none;
	box-shadow: 0px 0px 12px black;
}

#infoTitle {
	font-family: "Rasa", serif;
	font-weight: 700;
	font-size: 1.25em;
	overflow: hidden;
	height: 25px;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 295px;
}

.listResult {
	width: 600px;
	height: 200px;
	margin-right: 1px;
	border: 1px solid blue;
}

.listImage {
	float: left;
	width: 270px;
	height: 170px;
	text-align: center;
}

.listTitle {
	overflow: hidden;
	font-weight: 700;
	height: 20px;
}

.listDescription {
	height: 180px;
	overflow: auto;
}

.listCountry {
	float: left;
	clear: left;
	width: 270px;
	height: 30px;
	text-align: center;
}

/* Override default OpenLayers stuff */
.ol-zoom {
	right: 0.5em !important;
	left: auto !important;
}

.ol-attribution {
	bottom: 1.5em !important;
}